$brown: #5C2E23;
$gray: #58585a;
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "animate";

body {
  overflow-x: hidden;
  max-width: 100%;
}
h1,h2,h3,p,ul,li {font-family: 'Lato', sans-serif;color:$brown;}
.space50{
  margin-top: 50px;
}

footer {
  background: black;
  padding: 20px 0;
  p {
    font-weight: 300;
    color: white;
  }
  @media (max-width: 736px) {
    .pull-left{float:none !important;}
    .pull-right{float:none !important;}
    p{text-align:center;}
  }
}
.form-control:focus {
  border-color: #5C2E23;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(92, 46, 35, .4);
}
.btn-default {
  background: $brown;
  color: white;
  transition: all .3s;
  &:hover {
    color: $brown;
    background: rgb(224, 215, 198);
    border: #e0d7c6;
    border: 1px solid #e0d7c6;
  }
}
.name {
  @media (max-width: 736px) {
    padding-bottom: 15px;
  }
}
.radio {
  display: inline-block;
  padding: 0 10px 0 0;
}
.logos {
  width: 100px;
  margin: 0 auto;
  display: block;
}
.btn-cool {
  border: 1px solid white;
  border-radius: 0px;
  color: white;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  padding: 10px 20px;
  background: transparent;
  margin: 20px;
  transition: .2s all;
  &:hover {
    background: rgb(214, 25, 33);
    border: 1px solid rgb(214, 25, 33);
    color: white;
  }
  &:focus {
    color: white;
  }
}

.bkg {
  position: absolute;
  width:100%;
  height:100%;
  display:block;
  background: rgba(0,0,0,0.6);
  top: 0;
}

// .next {
//   position: absolute;
//   bottom: 0;
// }
.main-header {
  background-image:url(image-path("header-bbq.jpg"));
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:100vh;
  position: relative;
  background-position: 100%;
  @media (max-height: 414px) {
    padding-bottom: 200px;
  }
  @media (max-height: 375px) {
    padding-bottom: 200px;
  }
  .white-layer {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: white;
    opacity: .8;
    @media (max-width: 736px) {
      width: 80%;
    }
  }

  .box {
    position: relative;
    text-align: center;
    top: 9em;
    img {
      width: 250px;
      margin: 0 auto;
      display: block;
    }
    h1 {
      font-size: 40px;
     font-weight: 700;
     text-transform: uppercase;
     color: $brown;
     @media (max-width: 414px) {
       font-size: 30px;
     }
    }
    h3 {
      font-weight: 300;
      color: #5C2E23;
    }
    hr {
      border-top: 5px solid #5C2E23;
    }
    p, i {
      margin: 0;
      color: $brown;
    }
    a {
     &:hover{
       text-decoration: none;
     }
    }
    @media (max-width: 736px) {
      top: 4em;
    }
  }
  .scroll {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    p, i {
      margin: 0;
      color: $brown;
    }
    a {
     &:hover{
       text-decoration: none;
     }
   }
  }
}

.newsletter {
  text-align: center;
  padding: 35px 0 55px;
  background: #fafafa;
  h3 {
    font-weight: 700;
    text-transform: uppercase;
  }
  p {
    font-weight: 300;
  }
}

.about {
  padding: 100px 0;
  text-align: center;
  background: url(image-path("bbq.jpg"));
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  h1 {
    text-transform: uppercase;
    font-weight: 700;
    margin-top:10px;
    color: white;
  }
  hr {
    border-top: 2px solid white;
    width: 150px;
  }
  p {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
  }
  .loco {
    text-transform: none;
  }
  .stats {
    h1 {
      font-size: 20px;
      font-weight: 300;
      color: $gray;
    }
  }
}

.registration {
  padding: 75px 0 100px;
  text-align: center;
  h1 {
    font-weight: 700;
    text-transform: uppercase;
  }
  p {
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
  }
  hr {
    border-top: 2px solid $brown;
    width: 150px;
  }
  ul {
    text-align: left;
    font-weight: 300;
  }
  .min {
    min-height: 300px;
  }
  @media (max-width: 1024px) {
    .min {
      min-height: 0px;
    }
    .top {
      margin: 30px 0 50px;
    }
  }
}

.team-registration {
  background: url(image-path("menatwork.jpg"));
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  position: relative;
  padding: 75px 0 100px;
  text-align: center;
  h1 {
    font-weight: 700;
    text-transform: uppercase;
    color: white;
  }
  p {
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
  }
  hr {
    border-top: 2px solid white;
    width: 150px;
  }
  h3 {
    color: white;
  }
}

.contact {
  text-align: center;
  padding: 55px 0 75px;
  background: white;
  h2 {
    font-weight: 700;
    text-transform: uppercase;
  }
  p {
    font-weight: 300;
  }
  hr {
    border-top: 3px solid #5C2E23;
    width: 150px;
  }
  .contact-info {
    text-align: left;
    p {
      font-size: 18px;
    }
    margin-bottom: 80px;
  }
}
