<!DOCTYPE html>
<html>
<head>
  <title>Men of Doral BBQ Challenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <%= csrf_meta_tags %>
</head>
<body>


  <%= yield %>

  <footer>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="pull-left">
          <p>&copy; 2015 - All Rights Reserved</p>
        </div>
        <div class="pull-right">
          <p>Created by World-Changing Enterprises</p>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
